.container {
  display: flex;
  gap: 10px;
  width: 100%;
  /* max-width: 106.25em; */
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 100px;
  font-family: 'Libre Caslon Display', serif;
  letter-spacing: 1px;
  margin-top: 40px;
}

.usersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userUsername {
  background-color: rgb(41, 41, 41);
  padding: 10px;
  border-radius: 10px;
}

.userContainer {

}

.username {
  font-size: 29px;
  font-weight: bold;
  color: #FF0000
}
.email {
  font-size: 29px;
  font-weight: bold;
  color: #FF0000
}

@media (min-width: 300px) and (max-width: 681px) {
  .container {
    padding-top: 300px;
    padding-bottom: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}
