.container {
  display: flex;
  gap: 10px;
  width: 100%;
  /* max-width: 106.25em; */
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 100px;
  font-family: 'Libre Caslon Display', serif;
  letter-spacing: 1px;
  margin-top: 40px;
}

.usersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userUsername {
  background-color: #232D3F;
  padding: 10px;
  border-radius: 10px;
}

.usersContainer div:nth-child(even) .userUsername {
  background-color: #0F0F0F
}

.userContainer {

}

.delete {
  margin: 12px;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  background: #201f1f;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  cursor: pointer;
  border: none;
  font-size: 13px;
  color: rgb(161, 161, 161);
  transition: 500ms;
}

.delete:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #d6d6d6;
  transition: 500ms;
}

.answersContainer {
  text-align: center;

}

.answerButton {
  border: none;
  padding: 10px;
  margin: 8px;
  width: 60px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  cursor: pointer;
}
.answerButton:hover {
  box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222,
    inset -5px -5px 10px #444;
  color: #be0a0a;
  background-color: #0F0F0F;
  transition: 500ms;
}

.username {
  font-size: 29px;
  font-weight: bold;
  color: #FF0000
}
.email {
  font-size: 29px;
  font-weight: bold;
  color: #FF0000
}

@media (min-width: 300px) and (max-width: 681px) {
  .container {
    padding-top: 300px;
    padding-bottom: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}
