.card {
  width: 500px;
  border: 1px solid #5C8374;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0px 16px #5C8374;
  margin-bottom: 1.5em;
  background-color: #000;
  /* padding: 12px; */
  text-align: center;
}

.card:hover {
  box-shadow: 0 0px 26px 0 #93B1A6;
}

.videoWrapper {
  position: relative;
  border-bottom: 1px solid #ddd;
  background-color: #000;
}

.video {
  border-radius: 10px 10px 0 0;

}

.cardContent {
  padding: 16px;
  background-color: #000;
}

.videoTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #CEDEBD;
}

.videoDescription {
  font-size: 19px;
  color: #CEDEBD;
  margin-bottom: 8px;
}

.videoContent {
  font-size: 17px;
  color: #CEDEBD;
}
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  padding: 7px;
  font-size: x-large;
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 718px) {
  .card {
    width: 300px;
    margin-bottom: 1em;
  }

  .video {
    padding-right: 202px;
    /* 212px */
  }
}

@media (max-width: 310px) {
  .card {
    width: 280px;
    margin-bottom: 1em;
  }
}