.imgCont {
  width: 100%;
  height: 928px;
}

/* .mainDiva {
  position: relative;
} */

.imgCont .container {
  display: flex;
  align-items: center;
  position: relative; /* Use relative positioning */
  bottom: 50%;
  left: 55.1%;
  transform: translate(-50%, -70%);
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72px;
  font-weight: bold;
  opacity: 1;
}

/* .img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
} */

.desc {
  font-size: 24px;
  font-weight: 300;
}

.gymImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  /* object-position: 0 -800px; finally i can move the image */
  /* filter: drop-shadow(16px 16px 90px black); */
}

.customButton {
  background-color: lime;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px 0 0 0;
  width: 110px;
  height: 40px;
  color: black;
  cursor: pointer;
}

.customButton:hover {
  background-color: #08301c;
}

.customButton:active {
  background-color: #08301c;
}

.secondContainer {
  background-color: black;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.textContainer {
  max-width: 106.25em; /* Set your desired max-width */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
  padding-top: 5em;
}

.textContainer h1 {
  width: 100%;
  font-size: 38px;
  line-height: 1;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 102%;
  background: linear-gradient(to right, #000, transparent);
}

.filter1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 102%;
  background: linear-gradient(to right, #000, transparent);
}

.thirdContainer {
  width: 100%;
  height: 700px;
}

.thirdContainerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdContainerTitle {
  font-size: 38px;
  padding-bottom: 50px;
}

.aboutMeImageContainer {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.bigImage {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  object-fit: cover;
}

.smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutImage {
  object-fit: cover;
}
/* ---------- MEDIA QUERIES ---------- */
/* ---------- MEDIA QUERIES ---------- */
/* ---------- MEDIA QUERIES ---------- */

/* For screens between 768px and 991px */

@media (min-width: 768px) and (max-width: 1750px) {
  /* CSS rules for medium-sized screens */
  .imgCont .container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50%;
    left: 55.1%;
    transform: translate(-50%, -70%);
  }
  .textContainer {
    max-width: 106.25em; /* Set your desired max-width */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
    padding-top: 5em;
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 681px) {
  .title {
    font-size: 45px;
    font-weight: bold;
  }
  .imgCont .container {
    display: flex;
    align-items: center;
    position: relative;
    transform: translate(-45%, -50%);
    height: 100%;
  }

  .desc {
    font-size: 24px;
    font-weight: 300;
    max-width: 350px;
  }

  .secondContainer {
    background-color: black;
    width: 100%;
    height: 600px;
  }
  
  .textContainer {
    max-width: 200px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .thirdContainer {
    width: 100%;
    height: 700px;
  }
  
  .thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 250px;
  }

  .aboutMeImageContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .bigImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .aboutImage {
    object-fit: cover;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 140%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 131%;
    background: linear-gradient(to right, #000, transparent);
  }

}

@media (min-width: 390px) and (max-width: 400px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 110%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 110%;
    background: linear-gradient(to right, #000, transparent);
  }
}


@media (min-height: 300px) and (max-height: 900px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 130%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 130%;
    background: linear-gradient(to right, #000, transparent);
  }
}

@media (min-width: 300px) and (max-height: 700px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 164%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 164%;
    background: linear-gradient(to right, #000, transparent);
  }
}

@media (min-width: 375px) and (max-height: 700px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 140%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 140%;
    background: linear-gradient(to right, #000, transparent);
  }
}

@media (min-width: 390px) and (max-height: 900px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 110%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 110%;
    background: linear-gradient(to right, #000, transparent);
  }
}

@media (min-width: 400px) and (max-height: 750px) {
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 127%;
    background: linear-gradient(to right, #000, transparent);
  }

  .filter1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 127%;
    background: linear-gradient(to right, #000, transparent);
  }
}