.imgCont {
  width: 100%;
  height: 928px;
  position: relative;
}

/* .mainDiva {
  position: relative;
} */

.imgCont .container {
  display: flex;
  align-items: center;
  position: relative; /* Use relative positioning */
  bottom: 50%;
  left: 50.3%;
  transform: translate(-50%, -70%);
  padding: 0 70px 0 70px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 72px;
  font-weight: bold;
  opacity: 1;
}

/* .img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 3s infinite ease alternate;
} */

.desc {
  font-size: 24px;
  font-weight: 300;
}

.gymImage {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  /* object-position: 0 -800px; finally i can move the image */

}

.customButton {
  background-color: lime;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px 0 0 0;
  width: 110px;
  height: 40px;
  color: black;
  cursor: pointer;
}

.customButton:hover {
  background-color: #08301c;
}

.customButton:active {
  background-color: #08301c;
}

.secondContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 0px 70px 0px 70px;
}

.textContainer {
  display: flex;
  max-width: 1700px;
  justify-content: space-between;
  align-items: center;

  /* gap: 500px; */
}

.textContainer p {
  text-align: center;
}


.textContainer h1 {
  width: 100%;
  font-size: 38px;
  line-height: 1;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 105%;
  background: linear-gradient(to right, #000, transparent);
}

.filter1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100.8%;
  background: linear-gradient(to right, #000, transparent);
}

.thirdContainer {
  width: 100%;
  height: 700px;
}

.thirdContainerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdContainerTitle {
  font-size: 38px;
  padding-bottom: 50px;
}

.aboutMeImageContainer {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.bigImage {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  object-fit: cover;
}

.smallImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutImage {
  object-fit: cover;
}
/* ---------- MEDIA QUERIES ---------- */
/* ---------- MEDIA QUERIES ---------- */
/* ---------- MEDIA QUERIES ---------- */


@media (max-width: 841px) {
  .title {
    font-size: 40px;
    font-weight: bold;
  }
  .imgCont .container {
    display: flex;
    align-items: center;
    position: relative;
    transform: translate(-50%, -58%);
    height: 100%;
    padding: 0px;
  }

  .customButton {
    display: none;
  }

  .item {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
  }

  .desc {
    font-size: 20px;
    font-weight: 300;
    max-width: 350px;
  }

  .secondContainer {
    background-color: black;
    width: 100%;
    height: 600px;
  }
  
  .textContainer {
    max-width: 200px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .textContainer p {
    text-align: left;
  }

  .thirdContainer {
    width: 100%;
    height: 700px;
  }
  
  .thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 250px;
  }

  .aboutMeImageContainer {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .bigImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .aboutImage {
    object-fit: cover;
  }
}
