.container {
  display: flex;
  gap: 10px;
  width: 100%;
  /* max-width: 106.25em; */
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 100px;
  font-family: "Libre Caslon Display", serif;
  letter-spacing: 1px;
  margin-top: 40px;
  text-align: center;
}

.editButton {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  color: lime;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  cursor: pointer;
}
.editButton:active {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.guideDesc {
  white-space: pre-wrap;
}

.guideContainer {
  position: relative;
  margin: 40px 0px;
  border-radius: 30px;
  margin-bottom: 1.5em;
  background: #212121;
  /* box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60); */
}

.guide {
  background: #191919;
  padding: 24px;
  border-radius: 15px;
  /* margin-bottom: 10px; */
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
  cursor: pointer;
}

.title {
  color: #b2eccf;
}

.videoWrapper {
  /* background-color: #000; */
  position: relative;
}

.video {
  /* border-radius: 10px 10px 0 0; */
  border-radius: 15px;
  width: 100%;
}

.submitEditButton {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  color: lime;
  letter-spacing: 1px;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 841px) {
  .container {
    padding-top: 350px;
    padding-bottom: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
}
