.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 200px 70px 0 70px;
  align-items: center;
  justify-content: center;
  font-family: 'Cinzel', serif;
}

.userHeader {
  background-color: #183D3D;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.userHeader:hover {
  color: #000;
}
.container:last-child {
  margin-bottom: 40px;
}

.contactToAniText {
  text-align: center;
  color: red;
}

.postDescription {
  text-align: center;
  max-width: 300px;
  white-space: pre-wrap;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userName {
  text-align: center;
  margin-top: 60px;
  background-color: #4D3C77;
  width: 100%;
  border: 1px solid;
}

.info {
  padding: 16px;
  color: white;
  background: linear-gradient(45deg, #000, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video {
  border-radius: 10px;
  padding: 16px;
  padding-right: 23px;
}

.post {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;
  width: 359px;
  border: 4px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  background: linear-gradient(45deg, #ffffff, #f7f7f7);
  flex-wrap: wrap;
}

.postTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.postDescription {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

.postContent {
  font-size: 14px;
  color: white;
}

.postDay {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

/* .posts {
  display: flex;
  max-width: 1700px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
} */

.videoWrapper {
  position: relative;
  border-bottom: 1px solid white;
  background: linear-gradient(45deg, #000, #000);
}
.imgContainer {
  width: 200px;
  height: 100px;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  50% {
    transform: scale(1.1); /* Scale up halfway through */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 55px;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: lime;
  border: none;
  border-radius: 20px 2px 2px 2px;
  color: #eee;
  font-weight: bold;
}

.mainDiv {
  display: flex;
  gap: 20px;
  width: 100%;
  /* max-width: 106.25em; */
  /* padding top was 120px  */
  padding: 0px 70px 0 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lobster', cursive;
}


.card {
  width: 500px; /* Adjust the width as per your design */
  border: 1px solid #FF2E63;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0px 16px #FF2E63;
  margin-bottom: 1.5em;
  background: linear-gradient(45deg, #FCE9F1, #FCE9F1);
}

.card:hover {
  box-shadow: 0 0px 26px 0 #FF2E63;
}

.videoWrapper {
  position: relative;
  border-bottom: 1px solid #ddd;
  background-color: #000;
}

.video {
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

.cardContent {
  padding: 16px;
  background-color: #000;
}

.videoTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #FF2E63;
}

.videoDescription {
  font-size: 19px;
  color: #FF2E63;
  margin-bottom: 8px;
}

.videoContent {
  font-size: 17px;
  color: #FF2E63;
}



.cartIconWrapper {
  position: relative;
}

.cartButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.svg {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.svgg {
  filter: invert(56%) sepia(64%) saturate(3945%) hue-rotate(77deg) brightness(124%) contrast(107%);
}

.popAnimation {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: popAnimation 0.5s ease;
}

.weekTitle {
  border: 5px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 16px 60px 16px 60px;
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.arrowSvg {
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); */
  filter: invert(48%) sepia(93%) saturate(7489%) hue-rotate(356deg) brightness(89%) contrast(136%);
}

.secondMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 20px;
  padding: 26px;
  width: 100%;
  max-width: 500px;
}

.secondMainDiv:last-child {
  margin-bottom: 40px;
}

.titleHoverForExercise:hover {
  color: #183D3D;
  cursor: pointer;
}

@keyframes popAnimation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ex {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg) brightness(106%) contrast(120%);
}

.footerDiv {
  position: relative;
  bottom: 0;
}

.spinnerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 200px) and (max-width: 841px) {
  .mainDiv {
    /* margin-top: 180px; */
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .container {
    padding-top: 350px;
    text-align: center;
  }
  .userName {
    margin-top: 200px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .secondMainDiv {
    width: 320px;
    padding-bottom: 40px;
    border: none;
    padding: 10px;
  }
  .weekTitle {
    flex-direction: column;
    border: 3px solid;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 11px;
    font-size: 14px;
    /* background-image: radial-gradient(circle, rgba(27, 26, 29, 0.5), rgba(21, 21, 27, 0.5), transparent);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
  }
  .mainDiv {
    gap: 0;
  }
}

@media (max-width: 310px) {
  .secondMainDiv {
    width: 290px;
  }
  .footerDiv{
    padding-top: 40px;
  }
}