.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1700px;
  width: 100%;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 400px) {
  /* CSS rules for smaller screens */
  .container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
  }
}

/* For screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for medium-sized screens */
  .container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }
}

/* For screens larger than 992px */
@media (min-width: 992px) {
  /* CSS rules for larger screens */
}
