.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #30475E, black, #30475E);
  flex-direction: column;
}

.mainContainer {
  padding-top: 160px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  width: 500px;
  padding: 30px;
  border-radius: 10px;
  /* background: linear-gradient(135deg, grey, black, grey); */
  background: #191919;
  margin-bottom: 50px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.input:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.input:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.input[type="password"] {
  letter-spacing: 4px;
}

.input::placeholder {
  color: #999;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background: linear-gradient(135deg, grey, black);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
  position: relative;
  overflow: hidden;
}

.submitButton:hover {
  background-color: #08301c;
}

.submitButton:active {
  background-color: #08301c;
}

@keyframes lightning {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.footerContainer {
  width: 100%;
}

@media (min-width: 200px) and (max-width: 718px) {
  .container {
    height: 100%;
  }
  .form {
    width: 350px;
    margin-bottom: 50px;
    margin-top: 200px;
  }
}

@media (max-width: 375px) {
  .form {
    width: 280px;
  }
}
