.mainDiv {
  display: flex;
  justify-content: space-between;
  padding: 150px 70px 0px 70px;
  font-family: "Lobster", cursive;
}

.videoCardContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  /* text-align: center; */
}

.spinnerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.editInput {
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
  background-color: #404040;
  color: #000;
  outline: none;
  max-width: 1000px;
}
.editInput:focus {
  border-color: #fff;
  box-shadow: none;
}
.editInput::placeholder {
  color: #ccc;
}

.editInput input {
  font-size: 2px;
}

.editHeading {
  color: #606060;
}

.editButton {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #404040;
  color: #fff;
  width: 30%;
  cursor: pointer;
  font-family: "Lobster", cursive;
}



.formContainer {
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  width: 100%;
  max-width: 850px;
  /* padding-top: 100px; */
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  flex-direction: column;
  width: 350px;
  border-radius: 20px;
  margin-bottom: 1.5em;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.playlistContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  width: 350px;
  /* border: 4px solid #27005d; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 1.5em; */
  background-color: #021526;
  padding: 10px;
}

.playlistTitle {
  width: 100%;
  color: #aed2ff;
  font-family: "Cinzel", serif;
}

.playlistTitleContaner {
  cursor: pointer;
}

.playlistDelete {
  cursor: pointer;
}

.exx {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
  width: 40px;
  height: 40px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px;
  max-width: 300px;
  min-height: 300px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 3px 10px 81px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 81px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 81px 0px rgba(0,0,0,0.75);
}

.videoContent {
  padding: 16px;
  color: white;
  background: #212121;
  text-align: center;
  border-radius: 30px;
}

.videoWrapper {
  position: relative;
  /* border-bottom: 1px solid white; */
  border-radius: 30px;
}

.video {
  border-radius: 10px;
  padding: 16px;
  padding-right: 23px;
}

.postVideo {
  /* padding: 16px; */
  border-radius: 20px;
}

.postTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.postDescription {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

.postContent {
  font-size: 14px;
  color: white;
}

.postDay {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
  transition: transform 0.2s ease-in-out;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* padding-top: 45px; */
}

.workoutPlanForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 400px;
}

.exerciseFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.workoutInput {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
  resize: vertical;
}

.workoutInput::placeholder {
  color: #61677a;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: lime;
  border: none;
  border-radius: 20px 2px 2px 2px;
  color: #eee;
  font-weight: bold;
}

.plus {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.ex {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
}

.plusButton {
  animation: pulsate 1.5s infinite; /* Apply the pulsate animation */
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  50% {
    transform: scale(1.1); /* Scale up halfway through */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: calc((100% - 300px) / 2);
  padding-right: calc((100% - 300px) / 2);
}

.cartImage {
  filter: invert(73%) sepia(7%) saturate(3457%) hue-rotate(176deg) brightness(90%) contrast(89%);
  cursor: pointer;
}
.cartImage:hover {
  filter: invert(14%) sepia(20%) saturate(994%) hue-rotate(131deg) brightness(96%) contrast(95%);
}

/*  MODAAAAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLLLLLLLLLLLLLLL ---------------------------------------------------------*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 0px 70px 0px 70px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #152e2e;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 1500px;
  height: 800px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  width: 100%;
  font-family: "Lobster", cursive;
  position: relative;
}

.postModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.postModalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  /* background-color: #252b48; */
  background: #212121;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  height: 800px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  width: 100%;
  font-family: "Lobster", cursive;
  position: relative;
}

.modalTitle {
  color: #fff;
  letter-spacing: 6px;
}

.btn {
  background-color: lime;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px 0 0 0;
  width: 110px;
  height: 40px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.buttona {
  padding: 20px;
  cursor: pointer;
  background-color: #021526;
  border: none;
  border-radius: 20px 0 0 0;
  color: #eee;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.buttonn {
  padding: 20px;
  cursor: pointer;
  background-color: #61677a;
  border: none;
  border-radius: 20px 0 0 0;
  color: #eee;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.workoutsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.popup li {
  cursor: pointer;
  padding: 1px;
}

.workoutsHeading {
  margin: 0 auto;
  color: #d8d9da;
}

.removeExercise {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
}

.exitModal {
  /* margin: 0 auto;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  background-color: #ff0000;
  padding: 10px;
  border-radius: 16px; */
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
.closeSVG {
  filter: invert(29%) sepia(93%) saturate(5478%) hue-rotate(351deg) brightness(97%) contrast(134%);
}

.cartVideoTitle {
  color: #ccc;
}

.fullDescDiv {
  color: #ccc;
  text-align: center;
  padding: 0px 70px 0px 70px;
}

.fullDescP {
  white-space: pre-wrap;
}

.addAllButton {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  background-color: #1A4870;
  cursor: pointer;
  text-align: center;
}
.addAllButton:hover {
  background-color: #5B99C2;
}
/* ---------------------- MEDIA MEDIA MEDIA QUERIES -----------------------------------------------*/

@media (min-width: 200px) and (max-width: 940px) {
  .mainDiv {
    flex-direction: column-reverse;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    text-align: center;
  }

  .input {
    border-radius: 7px;
    width: 340px;
    max-width: 280px;
    margin: 0 auto;
  }
  .textArea {
    border-radius: 7px;
    width: 280px;
    max-width: 350px;
    margin: 0 auto;
  }

  .videoCardContainer {
    display: flex;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .playlistContainer {
    max-width: 280px;
    width: 100%;
  }

  .workoutsHeading {
    padding-top: 60px;
  }
  .exitModal {
    font-size: 20px;
  }
}

@media (max-width: 841px) {
  .formContainer {
    padding-top: 250px;
  }
}

@media (max-width: 480px) {
  .modalOverlay {
    padding: 0;
  }
}
