.videoCardContainer {
  display: flex;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 120px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

/* .posts {
  flex: 1;
  
} */

.mainDiv {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 106.25em;
  font-family: "Lobster", cursive;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  padding-top: 100px;
}

.post {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  flex-direction: column;

  width: 350px;
  border: 4px solid #e2e2e2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  background: linear-gradient(45deg, #ffffff, #f7f7f7);
}

.playlistContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  flex-direction: column;
  width: 350px;
  border: 4px solid #27005d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
}

.playlistTitle {
  width: 100%;
  color: #aed2ff;
  margin: 0 auto;
  font-family: 'Cinzel', serif;
}

.playlistTitleContaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #27005d;
  border: none;
}

.playlistDelete {
  cursor: pointer;
  color: red;
  height: 100%;
  border: none;
}

.exx {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
  width: 40px;
  height: 40px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.videoContent {
  padding: 16px;
  color: white;
  background: linear-gradient(45deg, #000, #000);
}

.videoWrapper {
  position: relative;
  border-bottom: 1px solid white;
  background: linear-gradient(45deg, #000, #000);
}

.video {
  border-radius: 10px;
  padding: 16px;
  padding-right: 23px;
}

.postTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.postDescription {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

.postContent {
  font-size: 14px;
  color: white;
}

.postDay {
  font-size: 14px;
  color: white;
  margin-bottom: 8px;
}

.img {
  object-fit: cover;
}

.delete {
  cursor: pointer;
  color: red;
  transition: transform 0.2s ease-in-out;
}

.new {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 45px;
}

.workoutPlanForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 400px;
}

.exerciseFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input,
.textArea {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #bbb;
  border-radius: 3px;
  color: #bbb;
  font-size: 20px;
  font-weight: bold;
}

.workoutInput {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #61677a;
  font-size: 20px;
  font-weight: bold;
}

.workoutInput::placeholder {
  color: #61677a;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: lime;
  border: none;
  border-radius: 20px 2px 2px 2px;
  color: #eee;
  font-weight: bold;
}

.plus {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.ex {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
}

.plusButton {
  animation: pulsate 1.5s infinite; /* Apply the pulsate animation */
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Start with normal size */
  }
  50% {
    transform: scale(1.1); /* Scale up halfway through */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 10px;
}

.cartImage {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(656deg)
    brightness(106%) contrast(120%);
  cursor: pointer;
}

/*  MODAAAAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLLLLLLLLLLLLLLL ---------------------------------------------------------*/
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #252b48;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 1500px;
  height: 800px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  width: 100%;
  font-family: "Lobster", cursive;
}

.postModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.postModalContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #252b48;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  height: 800px;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  width: 100%;
  font-family: "Lobster", cursive;
}

.modalTitle {
  color: #f2bed1;
  letter-spacing: 6px;
}

.btn {
  background-color: lime;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px 0 0 0;
  width: 110px;
  height: 40px;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.buttona {
  padding: 20px;
  cursor: pointer;
  background-color: #27005d;
  border: none;
  border-radius: 20px 0 0 0;
  color: #eee;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.buttonn {
  padding: 20px;
  cursor: pointer;
  background-color: #61677a;
  border: none;
  border-radius: 20px 0 0 0;
  color: #eee;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

.workoutsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #000;
}

.popup li {
  cursor: pointer;
  padding: 1px;
}

.workoutsHeading {
  margin: 0 auto;
  color: #d8d9da;
}

.removeExercise {
  filter: invert(20%) sepia(93%) saturate(5892%) hue-rotate(356deg)
    brightness(106%) contrast(120%);
}

.exitModal {
  margin: 0 auto;
  cursor: pointer;
  color: red;
  font-weight: 800;
}

/* ---------------------- MEDIA MEDIA MEDIA QUERIES -----------------------------------------------*/

@media (min-width: 300px) and (max-width: 500px) {
  .mainDiv {
    flex-direction: column-reverse;
  }

  .formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    padding-top: 200px;
  }

  .input {
    border-radius: 7px;
    width: 340px;
    max-width: 350px;
    margin: 0 auto;
  }
  .textArea {
    border-radius: 7px;
    width: 340px;
    max-width: 350px;
    margin: 0 auto;
  }

  .videoCardContainer {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 120px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .workoutsHeading {
    padding-top: 60px;
  }
  .exitModal {
    font-size: 20px;
  }
}
