.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
  flex-direction: column;
  height: 100svh;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mainContainer {
  padding-top: 120px;
}

.loginForm {
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #191919;
  text-align: center;
}



.title {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-weight: bold;
  text-align: left;
  transition: transform ease 0.2s;
  transform: translate(0%, -50%);
  font-size: 0.75em;
  user-select: none;
  pointer-events: none;
  color: #b0b0b0;
}

.input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  transition: box-shadow ease 0.2s;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus,
.input:valid {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}

.input:focus + .label,
.input:valid + .label {
  transform: translate(-150%, -50%);
}

.loginButton {
  width: 100%;
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  background-color: #191919;
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border: 2px solid #ffffff;

  cursor: pointer;
  z-index: 1;
}

.loginButton:hover {
  color: #000000;
    background-color: #ffffff;
}



.newLoginButton {
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  cursor: pointer;
}
.newLoginButton:active {
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
}


.newDiv {
  margin-bottom: 15px;
  text-align: center;
  display: inline;
}

.newAccButton {
  background-color: transparent;
  color: white;
  margin-top: 15px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.thunderGradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, black, orange, white, grey, black);
  position: relative;
  overflow: hidden;
}

.thunderGradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: lightning 1s infinite;
}

@keyframes lightning {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

.footerContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
}


@media (min-width: 200px) and (max-width: 841px) {
  .loginForm {
    width: 350px;
    /* margin-bottom: 30px; */
    margin-top: 170px;
  }
  /* .container {
    padding-top: 60px;
  } */
}

@media (max-width: 375px) {
  .loginForm {
    width: 280px;
    margin-top: 200px;
  }
  .container {
    /* height: 100%; */
  }
  /* .footerContainer {
    position: sticky;
  } */
}