.mainDiv {
  display: flex;
  gap: 20px;
  width: 100%;
  /* max-width: 106.25em; */
  padding: 120px 70px 0 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lobster', cursive;
}
.secondMainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 20px;
  padding: 26px;
  width: 100%;
  max-width: 500px;
}

.weekTitle {
  border: 5px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 16px 60px 16px 60px;
}

.postDescription {
  text-align: center;
  max-width: 300px;
  white-space: pre-wrap;
}

.delete {
  background-color: red;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
  /* margin-left: 20px; */
}
.contactToAniText {
  text-align: center;
  color: red;
}

.arrowSvg {
  /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); */
  filter: invert(48%) sepia(93%) saturate(7489%) hue-rotate(356deg) brightness(89%) contrast(136%);
}

/* ADMIN CSS ------------------*/

.adminContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  /* max-width: 106.25em; */
  padding: 200px 70px 0 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Lobster', cursive;
}

.adminSecondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 20px;
  padding: 26px;
  width: 100%;
  max-width: 500px;
  gap: 30px;
}

.adminWeekTitle {
  margin-bottom: 25px;
  border: 5px solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 16px 60px 16px 60px;
}

.titleHover:hover {
  color: #183D3D;
  cursor: pointer;
}


@media (min-width: 200px) and (max-width: 718px) {
  .mainDiv {
    margin-top: 110px;
  }
  .secondMainDiv {
    width: 320px;
    padding-bottom: 40px;
    border: none;
    padding: 10px;
  }
  .weekTitle {
    flex-direction: column;
  }
  .mainDiv {
    gap: 0;
  }

  .adminContainer {
    margin-top: 110px;
  }
  .adminSecondContainer {
    width: 320px;
    padding-bottom: 40px;
    border: none;
    padding: 10px;
    gap: 0;
  }
  .delete {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 310px) {
  .secondMainDiv {
    width: 290px;
  }
  .adminSecondContainer {
    width: 290px;
  }
}